In [0]:
idades = [35, 30, 27, 18]

In [2]:
type(idades)

list

In [4]:
idades[2]

27

In [5]:
len(idades)

4

In [0]:
idades.append(15)

In [8]:
len(idades)

5

In [11]:
for idade in idades:
  print(idade)

35
30
27
18
15

In [0]:
idades.remove(30)

In [13]:
for idade in idades:
  print(idade)

35
27
18
15

In [14]:
27 in idades

True

In [16]:
idades.extend([27,19])
idades

[35, 27, 18, 15, 27, 19, 27, 19]

In [19]:
idades_ano_q_vem = []
for idade in idades:
  idades_ano_q_vem.append(idade+1)

idades_ano_q_vem

[36, 28, 19, 16, 28, 20, 28, 20]

In [22]:
idades_ano_q_vem_ = [(idade+1) for idade in idades]
idades_ano_q_vem_

[36, 28, 19, 16, 28, 20, 28, 20]

In [23]:
idades_ano_q_vem_ = [(idade+1) for idade in idades if idade > 21]
idades_ano_q_vem_

[36, 28, 28, 28]

In [27]:
def proximo_ano(idade):
   return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[36, 28, 28, 28]

In [0]:
def faz_proecssamento_de_visualizacao(lista = None):
   if lista == None:
     lista = list()
   print(len(lista))

In [30]:
idades= [16,21,29,56,43]
faz_proecssamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43]

In [0]:
class ContaCorrente:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [42]:
conta = ContaCorrente(15)
print(conta)

[>>Codigo 15 Saldo 0<<]

In [0]:
conta_dani = ContaCorrente(21)
conta_dani.deposita(1000)

In [47]:
contas = [conta, conta_dani]
print(contas)
for conta in contas:
  print(conta)

[<__main__.ContaCorrente object at 0x7f491ebd5a90>, <__main__.ContaCorrente object at 0x7f491ebd5f28>]
[>>Codigo 15 Saldo 0<<]
[>>Codigo 21 Saldo 1000<<]

In [48]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta, conta_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 21 Saldo 1000<<] [>>Codigo 21 Saldo 1000<<]
[>>Codigo 21 Saldo 1200<<] [>>Codigo 21 Saldo 1200<<]

In [0]:
#tuplas
tupla1 = ("Nome", 35, "Endereco")

In [50]:
print(tupla1)

('Nome', 35, 'Endereco')

In [0]:
#herança e polimorfismo

In [0]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)
    
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [67]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [68]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [69]:
contas = [conta16, conta17]
for conta in contas:
  conta.passa_o_mes() #duck type
  print(conta)

[>>Codigo 16 Saldo 996<<]
[>>Codigo 17 Saldo 1014.07<<]

Array evitar usa

In [70]:
import array as arr

arr.array('d', [1.0, 3.5])

array('d', [1.0, 3.5])

In [72]:
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.3)

In [73]:
numeros = np.array([1, 3.5])
numeros + 3

array([4. , 6.5])

In [0]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [121]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)

conta1 == conta2 #se pode se tornar true por causa da sobre carga do metodo __eq__

True

In [122]:
conta1.deposita(20)
contas = [conta1, conta2]
for conta in contas:
  print(conta)

conta1 == conta2

[>>Codigo 37 Saldo 20<<]
[>>Codigo 37 Saldo 0<<]

False

In [123]:
idades = [15,87,65,56,32,49,37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 65
3 56
4 32
5 49
6 37

In [124]:
range(len(idades)) #lazy
enumerate(idades) #lazy

list(enumerate(idades)) #forca gerar os dados

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37)]

In [125]:
for indice, idade in enumerate(idades):
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 65
3 x 56
4 x 32
5 x 49
6 x 37

In [126]:
usuarios = [
    ("Ivo", 35, 1985),
    ("Paty", 40, 1980),
    ("Thaty", 38, 1982)
]

for nome, idade, ano in usuarios:
  print(nome, ano)


for nome, _, _ in usuarios: # o _ mostra que nao sera usado o valor
  print(nome)

Ivo 1985
Paty 1980
Thaty 1982
Ivo
Paty
Thaty

In [127]:
sorted(idades) #ordenacao

[15, 32, 37, 49, 56, 65, 87]

In [128]:
sorted(idades, reverse=True) #order desc

[87, 65, 56, 49, 37, 32, 15]

In [129]:
list(reversed(sorted(idades))) #outra forma de order desc

[87, 65, 56, 49, 37, 32, 15]

In [0]:
conta_guilherme = ContaSalario(17)
conta_guilherme.deposita(500)

conta_daniela = ContaSalario(3)
conta_daniela.deposita(1000)

conta_paulo = ContaSalario(133)
conta_paulo.deposita(510)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [134]:
from operator import attrgetter

sorted(contas, key=attrgetter("_saldo")) #atributo mais proximo do correto para ordernar  baseado em propriedades privadas sem implementar __lt__

[<__main__.ContaSalario at 0x7f491e53eba8>,
 <__main__.ContaSalario at 0x7f491e53e2e8>,
 <__main__.ContaSalario at 0x7f491e53e048>]

In [132]:
conta_guilherme < conta_daniela

True

In [0]:
from functools import total_ordering

@total_ordering
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return saldo._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [0]:
conta_guilherme = ContaSalario(17)
conta_guilherme.deposita(500)

conta_daniela = ContaSalario(3)
conta_daniela.deposita(1000)

conta_paulo = ContaSalario(133)
conta_paulo.deposita(510)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [144]:
conta_guilherme <= conta_daniela

True

In [145]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]